flow.json
[
    {
        "id": "4a5ee1ae.9e885",
        "type": "tab",
        "label": "Smartthings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b23dd828.06cba8",
        "type": "tab",
        "label": "Harmony",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da40c03a.ac762",
        "type": "tab",
        "label": "Spotify",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5b48919.c32ed8",
        "type": "tab",
        "label": "Homebridge Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4bd59e4.4cd548",
        "type": "tab",
        "label": "Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "675643bd.a6d5bc",
        "type": "tab",
        "label": "Shop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4c03242.475c2",
        "type": "tab",
        "label": "Cameras",
        "disabled": false,
        "info": ""
    },
    {
        "id": "678ca26b.9ca2bc",
        "type": "tab",
        "label": "Apple Find Me",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cc71b69.c5d98c",
        "type": "smartthings-config",
        "name": "",
        "token": "c1ddeb51-5ca7-4e87-b72b-4f6857a6041d"
    },
    {
        "id": "ca741fe2.6647b",
        "type": "alexa-remote-account",
        "name": "Alexa Account",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.1.10",
        "proxyPort": "3456",
        "cookieFile": "authFile",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.co.uk",
        "amazonPage": "amazon.co.uk",
        "acceptLanguage": "en-UK",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "9836075f.042548",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Pear Tree Cottage",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 36,
                "sy": 36,
                "gx": 4,
                "gy": 4,
                "cx": 4,
                "cy": 4,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75510789.d44fb",
        "type": "harmonyws-server",
        "name": "Harmony Hub",
        "ip": "192.168.1.114",
        "debug": false
    },
    {
        "id": "d72812bf.ee02e",
        "type": "spotify-auth",
        "name": "Spotify OAuth2",
        "scope": "user-read-currently-playing"
    },
    {
        "id": "37ee673b.cef5c8",
        "type": "castv2-connection",
        "name": "",
        "target": "",
        "host": "192.168.1.238",
        "port": "8009"
    },
    {
        "id": "a315b9f5.b6cdb8",
        "type": "castv2-connection",
        "name": "",
        "target": "Study",
        "host": "192.168.1.238",
        "port": "8009"
    },
    {
        "id": "914c287.6aa0ed8",
        "type": "hb-conf",
        "username": "499-01-142"
    },
    {
        "id": "9008fdf6.fa774",
        "type": "ui_tab",
        "name": "Temperatures",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a2a8a9.b7d3476",
        "type": "ui_group",
        "name": "Outside Temperatures",
        "tab": "9008fdf6.fa774",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56e6bb2d.99ee04",
        "type": "ui_group",
        "name": "Inside Temperatures",
        "tab": "9008fdf6.fa774",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1e376715.c5e029",
        "type": "ui_tab",
        "name": "Tests",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c3f771a.742bb8",
        "type": "ui_group",
        "name": "Study Stand Lamp",
        "tab": "1e376715.c5e029",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c38368e5.c62b18",
        "type": "ui_group",
        "name": "Status",
        "tab": "722cfe01.912e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c168e098.38862",
        "type": "ui_group",
        "name": "Controls",
        "tab": "722cfe01.912e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "722cfe01.912e8",
        "type": "ui_tab",
        "name": "Status/Controls",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1259ad59.a56003",
        "type": "ui_group",
        "name": "Status",
        "tab": "9008fdf6.fa774",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d1be433.e4c01c",
        "type": "telegram bot",
        "botname": "HambledonShopBot",
        "usernames": "",
        "chatids": "941652596",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "a535d6a4.22a118",
        "type": "telegram bot",
        "botname": "samplebot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "pollinterval": "300"
    },
    {
        "id": "d8f93858.7b3648",
        "type": "apple-find-me-account",
        "name": "Jon",
        "showfmly": true
    },
    {
        "id": "bb0e754e.70b108",
        "type": "ui_group",
        "name": "Default",
        "tab": "77efcdfa.edd224",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "77efcdfa.edd224",
        "type": "ui_tab",
        "name": "HomeKit",
        "icon": "dashboard"
    },
    {
        "id": "d1e30622.0d3aa8",
        "type": "homekit-accessory",
        "accessoryName": "Connector",
        "pinCode": "111-11-111",
        "port": "",
        "manufacturer": "Default Manufacturer",
        "model": "Default Model",
        "serialNo": "Default Serial Number"
    },
    {
        "id": "6105b1aa.1791e8",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Stand Lamp",
        "device": "ec4a88b5-591d-4ff0-8f20-c783b934cd40",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "54c6e855.35824"
            ]
        ]
    },
    {
        "id": "54c6e855.35824",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "a757e2b5.9dd358",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "54c6e855.35824"
            ]
        ]
    },
    {
        "id": "71e8ed09.f84d04",
        "type": "function",
        "z": "4a5ee1ae.9e885",
        "name": "Turn On",
        "func": "var msg = {\n    topic: \"switch\",\n    payload: {\n        value: 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "6105b1aa.1791e8",
                "a757e2b5.9dd358"
            ]
        ]
    },
    {
        "id": "1f7ff47c.1f3644",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "71e8ed09.f84d04",
                "20473db6.98279a"
            ]
        ]
    },
    {
        "id": "a27e2d39.99ba28",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Stand Lamp",
        "device": "ec4a88b5-591d-4ff0-8f20-c783b934cd40",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "57fa7b73.ca3704"
            ]
        ]
    },
    {
        "id": "57fa7b73.ca3704",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "186da003.27306",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "57fa7b73.ca3704"
            ]
        ]
    },
    {
        "id": "c0a03666.4953b8",
        "type": "function",
        "z": "4a5ee1ae.9e885",
        "name": "Turn Off",
        "func": "var msg = {\n    topic: \"switch\",\n    payload: {\n        value: 0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "a27e2d39.99ba28",
                "186da003.27306"
            ]
        ]
    },
    {
        "id": "e0d40e08.e8fb28",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "c0a03666.4953b8"
            ]
        ]
    },
    {
        "id": "20473db6.98279a",
        "type": "alexa-remote-routine",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "account": "ca741fe2.6647b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "announcement",
                "text": {
                    "type": "str",
                    "value": "hello"
                },
                "devices": [
                    "G090LF096467321H"
                ]
            }
        },
        "x": 660,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8d4319.e2b4b4",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update",
        "payloadType": "str",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "2d0d36bd.aa7eb2"
            ]
        ]
    },
    {
        "id": "2d0d36bd.aa7eb2",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "ced4f3ea.93106"
            ]
        ]
    },
    {
        "id": "ced4f3ea.93106",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "51980e53.11cb68",
        "type": "harmonyws-activity",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "activity": "41843816",
        "x": 310,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "56af5285.099b7c",
        "type": "harmonyws-command",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "activity": "57410337",
        "command": "57410337:PowerToggle",
        "hold": "0",
        "repeat": "1",
        "delay": "0",
        "x": 340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe37ec3.926e72",
        "type": "harmonyws-sequence",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "sequence": [
            {
                "type": "activity",
                "activity": "41843816"
            },
            {
                "type": "command",
                "activity": "57409872",
                "command": null
            }
        ],
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "575278ff.836b18",
        "type": "spotify",
        "z": "da40c03a.ac762",
        "name": "",
        "auth": "d72812bf.ee02e",
        "api": "getMyCurrentPlayingTrack",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "78462181.d6421"
            ]
        ]
    },
    {
        "id": "cf1b4c8d.3ae53",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "575278ff.836b18"
            ]
        ]
    },
    {
        "id": "78462181.d6421",
        "type": "debug",
        "z": "da40c03a.ac762",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a2285a1.f576f8",
        "type": "cast-to-client",
        "z": "da40c03a.ac762",
        "name": "",
        "url": "",
        "contentType": "",
        "message": "Testing Testing",
        "language": "en",
        "ip": "192.168.1.238",
        "port": "8009",
        "volume": "40",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "e59f4895.6a1c58"
            ]
        ]
    },
    {
        "id": "fa9250d6.1d8d5",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "Hello to Jason Isaacs",
        "payloadType": "str",
        "x": 600,
        "y": 100,
        "wires": [
            [
                "c9a24bb9.28a0a8"
            ]
        ]
    },
    {
        "id": "c9a24bb9.28a0a8",
        "type": "play audio",
        "z": "da40c03a.ac762",
        "name": "",
        "voice": "0",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ec30956.9fe706",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "9a2285a1.f576f8"
            ]
        ]
    },
    {
        "id": "e59f4895.6a1c58",
        "type": "debug",
        "z": "da40c03a.ac762",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "6494e879.4d7a78",
        "type": "function",
        "z": "da40c03a.ac762",
        "name": "",
        "func": "return {\n    payload: {\n        type: \"MUTE\"\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "d8b87bd2.be3618"
            ]
        ]
    },
    {
        "id": "d98b54a4.e4b8d8",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "6494e879.4d7a78"
            ]
        ]
    },
    {
        "id": "d8b87bd2.be3618",
        "type": "castv2-sender",
        "z": "da40c03a.ac762",
        "name": "Study",
        "connection": "37ee673b.cef5c8",
        "spotifyAccessToken": "BQDGcsR6vAEvz6w4HB3aa2C-PsZzpgyEd7D67Jdd5SopdVaZL7B0KWCn67TkhOeBjXFNgk1O711z57Ahyq5xbTb0vp3dFtlf8sH-87eWKRmOvJPEupKrcAAR7gTf7cUj14vwE7i6jxh-oIhrX7LLZ2TMCmYCzZp6DjpTTG718STqThLLdrbhfEFflWQi4b-yQb9damkIcjX4xgUwd2CkJLQMKjpxtOJPGLuCA8nw2yqvhDoZRd9zlM6DXdUHmZB1Lnvk_-eDrddrrZXGlEQO4g",
        "spotifyAccessTokenExpiration": "",
        "spotifyDeviceName": "",
        "x": 590,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cb440f85.abd5c",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Study Desk Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Study Desk Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "bce557dd.50c268"
            ]
        ]
    },
    {
        "id": "7fdebd5f.3cd544",
        "type": "inject",
        "z": "e5b48919.c32ed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "cb440f85.abd5c",
                "1a65275e.7499d9",
                "bb02adb4.65b55",
                "bea155f6.22bdd8",
                "1a875af1.57cc55",
                "db15f1aa.ba748",
                "fa51d09c.85874",
                "b10523a2.a4a1f",
                "cb500180.f07ff",
                "25620aee.b946a6",
                "4013190c.92fab8",
                "bcdff66e.d54b18",
                "bef92d31.94b91",
                "26659b5e.50a324",
                "21e21942.b52f56",
                "d297d0a3.c9736"
            ]
        ]
    },
    {
        "id": "1a65275e.7499d9",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Front Door Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "f7ae2762.b6a038"
            ]
        ]
    },
    {
        "id": "bb02adb4.65b55",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Landing Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Landing Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "ec9539fe.8929f8"
            ]
        ]
    },
    {
        "id": "2334ed96.2588a2",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Study Stand Lamp",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "d11560a9.df469",
        "type": "inject",
        "z": "e5b48919.c32ed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\":true,\"Brightness\":20,\"Hue\":100,\"Saturation\":100,\"ColorTemperature\":100}",
        "payloadType": "json",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "2334ed96.2588a2"
            ]
        ]
    },
    {
        "id": "5c11d56d.0c01dc",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "56e6bb2d.99ee04",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Landing",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "bea155f6.22bdd8",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Garage Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "6291d32a.e0a3ec"
            ]
        ]
    },
    {
        "id": "1a875af1.57cc55",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Garage Outdoor Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "ed544574.914c18"
            ]
        ]
    },
    {
        "id": "db15f1aa.ba748",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Door Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings",
        "Service": "Temperature Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThingsGarage Door Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "1b53e988.df06a6"
            ]
        ]
    },
    {
        "id": "2c610e22.12c9c2",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Front Door",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbeb9c03.ffdeb",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "56e6bb2d.99ee04",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Study Desk",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "40771750.bb7618",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Inside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "92ea7fee.19995",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Outside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c2a5595.9aaa4c",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Door Inside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa51d09c.85874",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Heating",
        "Homebridge": "homebridge",
        "Manufacturer": "CentraLite",
        "Service": "Switch",
        "device": "homebridge0E:3E:4E:48:18:3ACentraLiteHeating00000049",
        "conf": "914c287.6aa0ed8",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7268ea68.db2cb4",
                "5950dbdd.e987f4"
            ]
        ]
    },
    {
        "id": "b10523a2.a4a1f",
        "type": "smartthings-node-temperature",
        "z": "e5b48919.c32ed8",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Door Motion Sensor",
        "device": "95115ac7-950f-4c8b-ac29-c15ddedc6d7a",
        "x": 200,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb500180.f07ff",
        "type": "moment",
        "z": "e5b48919.c32ed8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LTS",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "dd20c198.4b878",
                "87f12050.3f4b8"
            ]
        ]
    },
    {
        "id": "25620aee.b946a6",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Light Switch",
        "Homebridge": "homebridge",
        "Manufacturer": "LUMI",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3ALUMIFront Door Light Switch00000043",
        "conf": "914c287.6aa0ed8",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "1012f430.39b40c",
                "376672dc.36446e"
            ]
        ]
    },
    {
        "id": "4013190c.92fab8",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Light",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullGarage Outdoor Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "86c6bc9d.17f0e",
                "752a75ba.cdd88c"
            ]
        ]
    },
    {
        "id": "bcdff66e.d54b18",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Rear Outside Light",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullRear Outside Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "f09179d8.5bc868",
                "e267ed04.f2bc8"
            ]
        ]
    },
    {
        "id": "bef92d31.94b91",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 1",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullPatio Light 100000043",
        "conf": "914c287.6aa0ed8",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "3028308f.9b15e",
                "881df904.73a4f8"
            ]
        ]
    },
    {
        "id": "26659b5e.50a324",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 2",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullPatio Light 200000043",
        "conf": "914c287.6aa0ed8",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "bdc52a02.d47ec8",
                "aa93aafe.6dfdd8"
            ]
        ]
    },
    {
        "id": "21e21942.b52f56",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights Garage",
        "Homebridge": "homebridge",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AinnrXmas Lights Garage00000043",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "5ccce5ca.e53e0c",
                "e2fb7a6f.60b508"
            ]
        ]
    },
    {
        "id": "1d0e83f3.95e92c",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Xmas Lights Garage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d297d0a3.c9736",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights House",
        "Homebridge": "homebridge",
        "Manufacturer": "IKEA of Sweden",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AIKEA of SwedenXmas Lights House00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "68388d15.892d24",
                "e4cf39a4.7201e8"
            ]
        ]
    },
    {
        "id": "dd20c198.4b878",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "87f12050.3f4b8",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "1259ad59.a56003",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "e369841f.0ae798",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights Garage",
        "Homebridge": "homebridge",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AinnrXmas Lights Garage00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1140,
        "y": 1080,
        "wires": []
    },
    {
        "id": "317ef8f1.a72098",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "e369841f.0ae798"
            ]
        ]
    },
    {
        "id": "de9d5ad2.48eba8",
        "type": "ui_switch",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7c3f771a.742bb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "79041a44.a16f44"
            ]
        ]
    },
    {
        "id": "85945484.a10258",
        "type": "hb-control",
        "z": "d4bd59e4.4cd548",
        "name": "Study Stand Lamp",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1330,
        "y": 140,
        "wires": []
    },
    {
        "id": "79041a44.a16f44",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "85945484.a10258"
            ]
        ]
    },
    {
        "id": "c977a635.1deb38",
        "type": "hb-status",
        "z": "d4bd59e4.4cd548",
        "name": "Study Stand Lamp",
        "Homebridge": "homebridge",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "9e9e6ae9.9ba038",
                "e9a57610.180f58"
            ]
        ]
    },
    {
        "id": "2374a680.e3367a",
        "type": "ui_text",
        "z": "d4bd59e4.4cd548",
        "group": "7c3f771a.742bb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Study Stand Lamp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e9e6ae9.9ba038",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "de9d5ad2.48eba8"
            ]
        ]
    },
    {
        "id": "c42d7a7.ab7f488",
        "type": "inject",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c977a635.1deb38",
                "a1c4571.23f22a8"
            ]
        ]
    },
    {
        "id": "e9a57610.180f58",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "2374a680.e3367a"
            ]
        ]
    },
    {
        "id": "a1c4571.23f22a8",
        "type": "moment",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LTS",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "48490e88.aaba1"
            ]
        ]
    },
    {
        "id": "48490e88.aaba1",
        "type": "ui_text",
        "z": "d4bd59e4.4cd548",
        "group": "7c3f771a.742bb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "265df6b1.94b15a",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 1180,
        "wires": [
            [
                "306b3d37.009f22"
            ]
        ]
    },
    {
        "id": "8d2e1b28.c9d4a8",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights House",
        "Homebridge": "homebridge",
        "Manufacturer": "IKEA of Sweden",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AIKEA of SwedenXmas Lights House00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1130,
        "y": 1180,
        "wires": []
    },
    {
        "id": "306b3d37.009f22",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 1180,
        "wires": [
            [
                "8d2e1b28.c9d4a8"
            ]
        ]
    },
    {
        "id": "68f7778.8d90088",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Xmas Lights House",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e4cf39a4.7201e8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "265df6b1.94b15a"
            ]
        ]
    },
    {
        "id": "68388d15.892d24",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "68f7778.8d90088"
            ]
        ]
    },
    {
        "id": "e2fb7a6f.60b508",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "84c1dd4a.6f74"
            ]
        ]
    },
    {
        "id": "5ccce5ca.e53e0c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "1d0e83f3.95e92c"
            ]
        ]
    },
    {
        "id": "84c1dd4a.6f74",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "317ef8f1.a72098"
            ]
        ]
    },
    {
        "id": "60fe3b00.da65c4",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio Light 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "c380779c.363688",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 2",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullPatio Light 200000043",
        "conf": "914c287.6aa0ed8",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "161fff6b.ada4f1",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 980,
        "wires": [
            [
                "c380779c.363688"
            ]
        ]
    },
    {
        "id": "aa93aafe.6dfdd8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 980,
        "wires": [
            [
                "833a1929.55ea88"
            ]
        ]
    },
    {
        "id": "bdc52a02.d47ec8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 940,
        "wires": [
            [
                "60fe3b00.da65c4"
            ]
        ]
    },
    {
        "id": "833a1929.55ea88",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 980,
        "wires": [
            [
                "161fff6b.ada4f1"
            ]
        ]
    },
    {
        "id": "c30cc056.ce41e",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Garage Outdoor Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 840,
        "wires": []
    },
    {
        "id": "cae0b6dc.f00d48",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Light",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullGarage Outdoor Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1140,
        "y": 880,
        "wires": []
    },
    {
        "id": "bda3f6af.ca6bf8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 880,
        "wires": [
            [
                "cae0b6dc.f00d48"
            ]
        ]
    },
    {
        "id": "752a75ba.cdd88c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 880,
        "wires": [
            [
                "4f1ac17a.9dc85"
            ]
        ]
    },
    {
        "id": "86c6bc9d.17f0e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 840,
        "wires": [
            [
                "c30cc056.ce41e"
            ]
        ]
    },
    {
        "id": "4f1ac17a.9dc85",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 880,
        "wires": [
            [
                "bda3f6af.ca6bf8"
            ]
        ]
    },
    {
        "id": "92ba97d.22e4668",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Front Door Light Switch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "6a00ec69.47c1b4",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Light Switch",
        "Homebridge": "homebridge",
        "Manufacturer": "LUMI",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3ALUMIFront Door Light Switch00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1150,
        "y": 780,
        "wires": []
    },
    {
        "id": "30d066a8.c5540a",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 780,
        "wires": [
            [
                "6a00ec69.47c1b4"
            ]
        ]
    },
    {
        "id": "376672dc.36446e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "f75d6fa0.5c986"
            ]
        ]
    },
    {
        "id": "1012f430.39b40c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "92ba97d.22e4668"
            ]
        ]
    },
    {
        "id": "f75d6fa0.5c986",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 780,
        "wires": [
            [
                "30d066a8.c5540a"
            ]
        ]
    },
    {
        "id": "951dfd70.b095d",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rear Outside Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "150580c9.576a5f",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Rear Outside Light",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullRear Outside Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1130,
        "y": 680,
        "wires": []
    },
    {
        "id": "7508cfea.acdbe",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":1}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 680,
        "wires": [
            [
                "150580c9.576a5f"
            ]
        ]
    },
    {
        "id": "e267ed04.f2bc8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 680,
        "wires": [
            [
                "a40db6c0.e7b848"
            ]
        ]
    },
    {
        "id": "f09179d8.5bc868",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "951dfd70.b095d"
            ]
        ]
    },
    {
        "id": "a40db6c0.e7b848",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 680,
        "wires": [
            [
                "7508cfea.acdbe"
            ]
        ]
    },
    {
        "id": "880003b9.b1cd8",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio Light 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6b071b5.84f56",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 1",
        "Homebridge": "homebridge",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "homebridge0E:3E:4E:48:18:3AnullPatio Light 100000043",
        "conf": "914c287.6aa0ed8",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "ff506d03.c0f06",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "f6b071b5.84f56"
            ]
        ]
    },
    {
        "id": "881df904.73a4f8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "3b7a8b07.62c2a4"
            ]
        ]
    },
    {
        "id": "3028308f.9b15e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "880003b9.b1cd8"
            ]
        ]
    },
    {
        "id": "3b7a8b07.62c2a4",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "ff506d03.c0f06"
            ]
        ]
    },
    {
        "id": "9de0e52d.c6d518",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heating",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8ef341d.412378",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Heating",
        "Homebridge": "homebridge",
        "Manufacturer": "CentraLite",
        "Service": "Switch",
        "device": "homebridge0E:3E:4E:48:18:3ACentraLiteHeating00000049",
        "conf": "914c287.6aa0ed8",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f1ed855.0308b8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "a8ef341d.412378"
            ]
        ]
    },
    {
        "id": "5950dbdd.e987f4",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "7aed12a4.2f800c"
            ]
        ]
    },
    {
        "id": "7268ea68.db2cb4",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === 1) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "9de0e52d.c6d518"
            ]
        ]
    },
    {
        "id": "7aed12a4.2f800c",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "1f1ed855.0308b8"
            ]
        ]
    },
    {
        "id": "18e972ed.a8074d",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "Master Switch",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1460,
        "y": 820,
        "wires": [
            [
                "306b3d37.009f22",
                "317ef8f1.a72098",
                "bda3f6af.ca6bf8",
                "30d066a8.c5540a",
                "7508cfea.acdbe",
                "ff506d03.c0f06",
                "1f1ed855.0308b8",
                "161fff6b.ada4f1"
            ]
        ]
    },
    {
        "id": "afae3114.ceb2e",
        "type": "hb-event",
        "z": "d4bd59e4.4cd548",
        "name": "Garage Outdoor Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Garage Outdoor Motion Sensor00000085",
        "conf": "914c287.6aa0ed8",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "48c297db.c45ab8",
                "da80954e.167fa8"
            ]
        ]
    },
    {
        "id": "48c297db.c45ab8",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "53a93715.f8d508",
        "type": "hb-event",
        "z": "d4bd59e4.4cd548",
        "name": "Landing Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Landing Motion Sensor00000085",
        "conf": "914c287.6aa0ed8",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "713f9bd1.49c984",
                "c8a9e47f.a3f7f8",
                "8be2d35d.de0a3"
            ]
        ]
    },
    {
        "id": "713f9bd1.49c984",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "7bbaf2.98e2a51",
        "type": "hb-event",
        "z": "d4bd59e4.4cd548",
        "name": "Landing Motion Sensor",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Landing Motion Sensor00000085",
        "conf": "914c287.6aa0ed8",
        "x": 280,
        "y": 780,
        "wires": [
            [
                "a41df575.6ea9c8"
            ]
        ]
    },
    {
        "id": "a41df575.6ea9c8",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "b08e665d.427988",
        "type": "cast-to-client",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "url": "",
        "contentType": "",
        "message": "Testing",
        "language": "en",
        "ip": "192.168.1.238",
        "port": "8009",
        "volume": "50",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "9c800bd1.21a138"
            ]
        ]
    },
    {
        "id": "9c800bd1.21a138",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "40646228.9a6a3c",
        "type": "inject",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "da80954e.167fa8"
            ]
        ]
    },
    {
        "id": "da80954e.167fa8",
        "type": "cast-to-client",
        "z": "d4bd59e4.4cd548",
        "d": true,
        "name": "",
        "url": "",
        "contentType": "",
        "message": "Garage Outside Motion",
        "language": "en",
        "ip": "192.168.1.238",
        "port": "8009",
        "volume": "50",
        "x": 750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b7c4fbd5.7e2888",
        "type": "cast-to-client",
        "z": "d4bd59e4.4cd548",
        "d": true,
        "name": "",
        "url": "",
        "contentType": "",
        "message": "",
        "language": "en",
        "ip": "192.168.1.238",
        "port": "8009",
        "volume": "50",
        "x": 910,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c8a9e47f.a3f7f8",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.MotionDetected === true) {\n    msg.payload.message = 'Landing Motion Detected'\n} else {\n    msg.payload.message = ''\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "b7c4fbd5.7e2888"
            ]
        ]
    },
    {
        "id": "e207ea31.0c89f8",
        "type": "alexa-remote-routine",
        "z": "d4bd59e4.4cd548",
        "d": true,
        "name": "",
        "account": "ca741fe2.6647b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "announcement",
                "text": {
                    "type": "str",
                    "value": "Landing Motion Detected - Alexa"
                },
                "devices": [
                    "G090LF096467321H"
                ]
            }
        },
        "x": 740,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "8be2d35d.de0a3",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.MotionDetected === true) {\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 740,
        "wires": [
            [
                "e207ea31.0c89f8"
            ]
        ]
    },
    {
        "id": "50d5e7d0.81d658",
        "type": "hb-event",
        "z": "675643bd.a6d5bc",
        "name": "HVS Tills HVS Motion",
        "Homebridge": "homebridge",
        "Manufacturer": "Nest",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ANestHVS Tills HVS Motion00000085",
        "conf": "914c287.6aa0ed8",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "e6539fd0.deca8"
            ]
        ]
    },
    {
        "id": "6a9e90a0.678f6",
        "type": "hb-event",
        "z": "675643bd.a6d5bc",
        "name": "HVS Tills HVS Sound",
        "Homebridge": "homebridge",
        "Manufacturer": "Nest",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ANestHVS Tills HVS Sound00000085",
        "conf": "914c287.6aa0ed8",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "4a4d533d.17e87c"
            ]
        ]
    },
    {
        "id": "4b02de5a.22cb7",
        "type": "hb-event",
        "z": "675643bd.a6d5bc",
        "name": "HVS Tills HVS Person",
        "Homebridge": "homebridge",
        "Manufacturer": "Nest",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ANestHVS Tills HVS Person00000085",
        "conf": "914c287.6aa0ed8",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "ea984d08.901f8"
            ]
        ]
    },
    {
        "id": "7d0b4356.c1e5bc",
        "type": "http request",
        "z": "675643bd.a6d5bc",
        "name": "Shop EOD",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hvsapp.jonpetersen.co.uk/salelasttime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "25d2393f.a74396",
        "type": "inject",
        "z": "675643bd.a6d5bc",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "7d0b4356.c1e5bc"
            ]
        ]
    },
    {
        "id": "9ad9fd70.e757",
        "type": "http request",
        "z": "675643bd.a6d5bc",
        "name": "Shop EOD",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hvsapp.jonpetersen.co.uk/salelasttime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 160,
        "wires": [
            [
                "4efbe9dc.b440f8"
            ]
        ]
    },
    {
        "id": "5637e6c9.a79f78",
        "type": "alexa-remote-echo",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "account": "ca741fe2.6647b",
        "config": {
            "option": "command",
            "value": {
                "device": {
                    "type": "str",
                    "value": "G090LF096467321H"
                },
                "what": "play"
            }
        },
        "x": 1340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5a149445.8d1dcc",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "77bce5fc.20001c",
        "type": "hb-event",
        "z": "d4bd59e4.4cd548",
        "name": "Virtual Switch 1",
        "Homebridge": "homebridge",
        "Manufacturer": "SmartThings-v2",
        "Service": "Switch",
        "device": "homebridge0E:3E:4E:48:18:3ASmartThings-v2Virtual Switch 100000049",
        "conf": "914c287.6aa0ed8",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "5a149445.8d1dcc",
                "5637e6c9.a79f78"
            ]
        ]
    },
    {
        "id": "f198501b.a8a71",
        "type": "hb-event",
        "z": "d4bd59e4.4cd548",
        "name": "Garage Inside",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Camera RTPStream Management",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Inside00000110",
        "conf": "914c287.6aa0ed8",
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "2e4e752a.f2868a"
            ]
        ]
    },
    {
        "id": "2e4e752a.f2868a",
        "type": "debug",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e6539fd0.deca8",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload.MotionDetected === 1) {\n    msg.payload = \"Motion Detected\";\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 161,
        "wires": [
            [
                "9ad9fd70.e757"
            ]
        ]
    },
    {
        "id": "335d67c9.6756b8",
        "type": "hb-event",
        "z": "675643bd.a6d5bc",
        "name": "HVS Tills HVS Zone - Zone 2",
        "Homebridge": "homebridge",
        "Manufacturer": "Nest",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3ANestHVS Tills HVS Zone - Zone 200000085",
        "conf": "914c287.6aa0ed8",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "980dc190.37efe"
            ]
        ]
    },
    {
        "id": "1dbd2945.f86a77",
        "type": "debug",
        "z": "675643bd.a6d5bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 160,
        "wires": []
    },
    {
        "id": "4efbe9dc.b440f8",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload === \"EOD\") {\n   msg.payload = {}\n   msg.payload.content = \"Motion detected and shop is closed\"\n   msg.payload.chatId = 941652596;\n   msg.payload.type = \"message\";\n   return msg;\n} else {\n    msg.payload = {}\n    msg.payload.content = \"Motion detected and shop is open\"\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 160,
        "wires": [
            [
                "12b5f1be.7553ce",
                "1dbd2945.f86a77"
            ]
        ]
    },
    {
        "id": "4a4d533d.17e87c",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload.MotionDetected === 1) {\n    msg.payload = \"Sound Detected\";\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "109ff31d.31d76d"
            ]
        ]
    },
    {
        "id": "ea984d08.901f8",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload.MotionDetected === 1) {\n    msg.payload = \"Person Detected\";\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "fa7562cc.5a50f"
            ]
        ]
    },
    {
        "id": "980dc190.37efe",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload.MotionDetected === 1) {\n    msg.payload = \"Zone 2 Motion Detected\";\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "c13e2169.04c1a"
            ]
        ]
    },
    {
        "id": "109ff31d.31d76d",
        "type": "http request",
        "z": "675643bd.a6d5bc",
        "name": "Shop EOD",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hvsapp.jonpetersen.co.uk/salelasttime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "c6f8d7ad.d93398"
            ]
        ]
    },
    {
        "id": "fa7562cc.5a50f",
        "type": "http request",
        "z": "675643bd.a6d5bc",
        "name": "Shop EOD",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hvsapp.jonpetersen.co.uk/salelasttime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "8d0160af.7bada"
            ]
        ]
    },
    {
        "id": "c13e2169.04c1a",
        "type": "http request",
        "z": "675643bd.a6d5bc",
        "name": "Shop EOD",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hvsapp.jonpetersen.co.uk/salelasttime",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "2295ebf4.64c7c4"
            ]
        ]
    },
    {
        "id": "12b5f1be.7553ce",
        "type": "telegram sender",
        "z": "675643bd.a6d5bc",
        "name": "HVSBOt",
        "bot": "2d1be433.e4c01c",
        "x": 1140,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9539fe.8929f8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "5c11d56d.0c01dc"
            ]
        ]
    },
    {
        "id": "f7ae2762.b6a038",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "2c610e22.12c9c2"
            ]
        ]
    },
    {
        "id": "bce557dd.50c268",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "cbeb9c03.ffdeb"
            ]
        ]
    },
    {
        "id": "6291d32a.e0a3ec",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "40771750.bb7618"
            ]
        ]
    },
    {
        "id": "ed544574.914c18",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "92ea7fee.19995"
            ]
        ]
    },
    {
        "id": "1b53e988.df06a6",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "msg.payload.CurrentTemperature = parseFloat(msg.payload.CurrentTemperature.toFixed(1))\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "7c2a5595.9aaa4c"
            ]
        ]
    },
    {
        "id": "c6f8d7ad.d93398",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload === \"EOD\") {\n   msg.payload = {}\n   msg.payload.content = \"Sound detected and shop is closed\"\n   msg.payload.chatId = 941652596;\n   msg.payload.type = \"message\";\n   return msg;\n} else {\n    msg.payload = {}\n    msg.payload.content = \"Sound detected and shop is open\"\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "12b5f1be.7553ce",
                "1dbd2945.f86a77"
            ]
        ]
    },
    {
        "id": "8d0160af.7bada",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload === \"EOD\") {\n   msg.payload = {}\n   msg.payload.content = \"Person detected and shop is closed\"\n   msg.payload.chatId = 941652596;\n   msg.payload.type = \"message\";\n   return msg;\n} else {\n    msg.payload = {}\n    msg.payload.content = \"Person detected and shop is open\"\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 302,
        "wires": [
            [
                "12b5f1be.7553ce",
                "1dbd2945.f86a77"
            ]
        ]
    },
    {
        "id": "2295ebf4.64c7c4",
        "type": "function",
        "z": "675643bd.a6d5bc",
        "name": "",
        "func": "if (msg.payload === \"EOD\") {\n   msg.payload = {}\n   msg.payload.content = \"Zone 2 Motion detected and shop is closed\" \n   msg.payload.chatId = 941652596;\n   msg.payload.type = \"message\";\n   return msg;\n} else {\n    msg.payload = {}\n    msg.payload.content = \"Zone 2 Motion detected and shop is open\"\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 460,
        "wires": [
            [
                "12b5f1be.7553ce",
                "1dbd2945.f86a77"
            ]
        ]
    },
    {
        "id": "222877f7.9e2e18",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Inside",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Inside00000085",
        "conf": "914c287.6aa0ed8",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "d2a57a2e.0f6ff8",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Drive",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeDrive00000085",
        "conf": "914c287.6aa0ed8",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "5b615158.7ce8a",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Door",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Motion Sensor",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Door00000085",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "9052b9bd.ad1238",
        "type": "debug",
        "z": "c4c03242.475c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6000e49.3f7f5",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Inside",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Camera RTPStream Management",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Inside00000110",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "5f0ea1da.f4982",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Inside",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Microphone",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Inside00000112",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "e11b0b0c.643258",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Door",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Microphone",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Door00000112",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "beea8366.69518",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Garage Door",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Camera RTPStream Management",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeGarage Door00000110",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "a9f6f4d9.429998",
        "type": "apple-find-me",
        "z": "678ca26b.9ca2bc",
        "account": "d8f93858.7b3648",
        "name": "Apple Devices",
        "triggerInterval": "60000",
        "geoAPI": "OSM",
        "distanceInMeter": "50",
        "hereMapApiKey": "",
        "googleMapsApiKey": "",
        "places": [
            {
                "name": "PTC",
                "lat": "51.137281",
                "lon": "-0.620595"
            },
            {
                "name": "Hydons Ball",
                "lat": "51.147257",
                "lon": "-0.603256"
            }
        ],
        "x": 300,
        "y": 460,
        "wires": [
            [
                "73311cd7.6a9394"
            ]
        ]
    },
    {
        "id": "9c3a9d89.25c9e",
        "type": "debug",
        "z": "678ca26b.9ca2bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "42e0ede.0eb1314",
        "type": "apple-find-me-playsound",
        "z": "678ca26b.9ca2bc",
        "account": "d8f93858.7b3648",
        "name": "",
        "deviceid": "dYgDxjNDw6CDFMli4Fi10FuXsvRpssQYi7mxiFvihSk=",
        "subject": "Alarm Message",
        "inputtype": "str",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "717b8543.34932c"
            ]
        ]
    },
    {
        "id": "717b8543.34932c",
        "type": "debug",
        "z": "678ca26b.9ca2bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "32506766.6c18d8",
        "type": "apple-find-me-sendmessage",
        "z": "678ca26b.9ca2bc",
        "account": "d8f93858.7b3648",
        "name": "",
        "deviceid": "dYgDxjNDw6CDFMli4Fi10FuXsvRpssQYi7mxiFvihSk=",
        "playsound": true,
        "subject": "Important Message",
        "text": "Test message",
        "inputtype": "str",
        "inputtypetext": "str",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "42e815bd.3371ec"
            ]
        ]
    },
    {
        "id": "a811e4a5.fa91e8",
        "type": "inject",
        "z": "678ca26b.9ca2bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "32506766.6c18d8"
            ]
        ]
    },
    {
        "id": "42e815bd.3371ec",
        "type": "debug",
        "z": "678ca26b.9ca2bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "b488610.86205a",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Drive",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Microphone",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeDrive00000112",
        "conf": "914c287.6aa0ed8",
        "x": 276,
        "y": 347,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "8ca3e7f7.51d1d8",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Drive",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Camera RTPStream Management",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeDrive00000110",
        "conf": "914c287.6aa0ed8",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "590a1bbe.696904",
        "type": "hb-event",
        "z": "c4c03242.475c2",
        "name": "Drive",
        "Homebridge": "homebridge",
        "Manufacturer": "Homebridge",
        "Service": "Camera RTPStream Management",
        "device": "homebridge0E:3E:4E:48:18:3AHomebridgeDrive00000110",
        "conf": "914c287.6aa0ed8",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "9052b9bd.ad1238"
            ]
        ]
    },
    {
        "id": "73311cd7.6a9394",
        "type": "function",
        "z": "678ca26b.9ca2bc",
        "name": "iPhone filter",
        "func": "msg.payload = msg.payload.iPhone[0].locationInfo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "9c3a9d89.25c9e"
            ]
        ]
    }
]