flow.json
[
    {
        "id": "4a5ee1ae.9e885",
        "type": "tab",
        "label": "Smartthings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b23dd828.06cba8",
        "type": "tab",
        "label": "Harmony",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da40c03a.ac762",
        "type": "tab",
        "label": "Spotify",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5b48919.c32ed8",
        "type": "tab",
        "label": "Homebridge Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4bd59e4.4cd548",
        "type": "tab",
        "label": "Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6cc71b69.c5d98c",
        "type": "smartthings-config",
        "name": "",
        "token": "c1ddeb51-5ca7-4e87-b72b-4f6857a6041d"
    },
    {
        "id": "ca741fe2.6647b",
        "type": "alexa-remote-account",
        "name": "Alexa Account",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.1.10",
        "proxyPort": "3456",
        "cookieFile": "authFile",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.co.uk",
        "amazonPage": "amazon.co.uk",
        "acceptLanguage": "en-UK",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "9836075f.042548",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Pear Tree Cottage",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 36,
                "sy": 36,
                "gx": 4,
                "gy": 4,
                "cx": 4,
                "cy": 4,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75510789.d44fb",
        "type": "harmonyws-server",
        "name": "Harmony Hub",
        "ip": "192.168.1.114",
        "debug": false
    },
    {
        "id": "d72812bf.ee02e",
        "type": "spotify-auth",
        "name": "Spotify OAuth2",
        "scope": "user-read-currently-playing"
    },
    {
        "id": "37ee673b.cef5c8",
        "type": "castv2-connection",
        "name": "",
        "target": "",
        "host": "192.168.1.238",
        "port": "8009"
    },
    {
        "id": "a315b9f5.b6cdb8",
        "type": "castv2-connection",
        "name": "",
        "target": "Study",
        "host": "192.168.1.238",
        "port": "8009"
    },
    {
        "id": "914c287.6aa0ed8",
        "type": "hb-conf",
        "username": "499-01-142"
    },
    {
        "id": "9008fdf6.fa774",
        "type": "ui_tab",
        "name": "Temperatures",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2a2a8a9.b7d3476",
        "type": "ui_group",
        "name": "Outside Temperatures",
        "tab": "9008fdf6.fa774",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56e6bb2d.99ee04",
        "type": "ui_group",
        "name": "Inside Temperatures",
        "tab": "9008fdf6.fa774",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1e376715.c5e029",
        "type": "ui_tab",
        "name": "Tests",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c3f771a.742bb8",
        "type": "ui_group",
        "name": "Study Stand Lamp",
        "tab": "1e376715.c5e029",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c38368e5.c62b18",
        "type": "ui_group",
        "name": "Status",
        "tab": "722cfe01.912e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c168e098.38862",
        "type": "ui_group",
        "name": "Controls",
        "tab": "722cfe01.912e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "722cfe01.912e8",
        "type": "ui_tab",
        "name": "Status/Controls",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1259ad59.a56003",
        "type": "ui_group",
        "name": "Status",
        "tab": "9008fdf6.fa774",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6105b1aa.1791e8",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Stand Lamp",
        "device": "ec4a88b5-591d-4ff0-8f20-c783b934cd40",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "54c6e855.35824"
            ]
        ]
    },
    {
        "id": "54c6e855.35824",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "a757e2b5.9dd358",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "54c6e855.35824"
            ]
        ]
    },
    {
        "id": "71e8ed09.f84d04",
        "type": "function",
        "z": "4a5ee1ae.9e885",
        "name": "Turn On",
        "func": "var msg = {\n    topic: \"switch\",\n    payload: {\n        value: 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "6105b1aa.1791e8",
                "a757e2b5.9dd358"
            ]
        ]
    },
    {
        "id": "1f7ff47c.1f3644",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "71e8ed09.f84d04",
                "20473db6.98279a"
            ]
        ]
    },
    {
        "id": "a27e2d39.99ba28",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Stand Lamp",
        "device": "ec4a88b5-591d-4ff0-8f20-c783b934cd40",
        "x": 430,
        "y": 580,
        "wires": [
            [
                "57fa7b73.ca3704"
            ]
        ]
    },
    {
        "id": "57fa7b73.ca3704",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "186da003.27306",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "57fa7b73.ca3704"
            ]
        ]
    },
    {
        "id": "c0a03666.4953b8",
        "type": "function",
        "z": "4a5ee1ae.9e885",
        "name": "Turn Off",
        "func": "var msg = {\n    topic: \"switch\",\n    payload: {\n        value: 0\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "a27e2d39.99ba28",
                "186da003.27306"
            ]
        ]
    },
    {
        "id": "e0d40e08.e8fb28",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "c0a03666.4953b8"
            ]
        ]
    },
    {
        "id": "20473db6.98279a",
        "type": "alexa-remote-routine",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "account": "ca741fe2.6647b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "announcement",
                "text": {
                    "type": "str",
                    "value": "hello"
                },
                "devices": [
                    "G090LF096467321H"
                ]
            }
        },
        "x": 660,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8d4319.e2b4b4",
        "type": "inject",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update",
        "payloadType": "str",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "2d0d36bd.aa7eb2"
            ]
        ]
    },
    {
        "id": "2d0d36bd.aa7eb2",
        "type": "smartthings-node-onoff",
        "z": "4a5ee1ae.9e885",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Desk Lamp",
        "device": "94cc7ce0-f25f-4df5-99c2-e68f0e4bec2f",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "ced4f3ea.93106"
            ]
        ]
    },
    {
        "id": "ced4f3ea.93106",
        "type": "debug",
        "z": "4a5ee1ae.9e885",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 820,
        "wires": []
    },
    {
        "id": "51980e53.11cb68",
        "type": "harmonyws-activity",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "activity": "41843816",
        "x": 310,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "56af5285.099b7c",
        "type": "harmonyws-command",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "activity": "57410337",
        "command": "57410337:PowerToggle",
        "hold": "0",
        "repeat": "1",
        "delay": "0",
        "x": 340,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe37ec3.926e72",
        "type": "harmonyws-sequence",
        "z": "b23dd828.06cba8",
        "name": "",
        "server": "75510789.d44fb",
        "sequence": [
            {
                "type": "activity",
                "activity": "41843816"
            },
            {
                "type": "command",
                "activity": "57409872",
                "command": null
            }
        ],
        "x": 410,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "575278ff.836b18",
        "type": "spotify",
        "z": "da40c03a.ac762",
        "name": "",
        "auth": "d72812bf.ee02e",
        "api": "getMyCurrentPlayingTrack",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "78462181.d6421"
            ]
        ]
    },
    {
        "id": "cf1b4c8d.3ae53",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "575278ff.836b18"
            ]
        ]
    },
    {
        "id": "78462181.d6421",
        "type": "debug",
        "z": "da40c03a.ac762",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a2285a1.f576f8",
        "type": "cast-to-client",
        "z": "da40c03a.ac762",
        "name": "",
        "url": "",
        "contentType": "",
        "message": "Testing Testing",
        "language": "en",
        "ip": "192.168.1.238",
        "port": "8009",
        "volume": "40",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "e59f4895.6a1c58"
            ]
        ]
    },
    {
        "id": "fa9250d6.1d8d5",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "Hello to Jason Isaacs",
        "payloadType": "str",
        "x": 600,
        "y": 100,
        "wires": [
            [
                "c9a24bb9.28a0a8"
            ]
        ]
    },
    {
        "id": "c9a24bb9.28a0a8",
        "type": "play audio",
        "z": "da40c03a.ac762",
        "name": "",
        "voice": "0",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "2ec30956.9fe706",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "9a2285a1.f576f8"
            ]
        ]
    },
    {
        "id": "e59f4895.6a1c58",
        "type": "debug",
        "z": "da40c03a.ac762",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "6494e879.4d7a78",
        "type": "function",
        "z": "da40c03a.ac762",
        "name": "",
        "func": "return {\n    payload: {\n        type: \"MUTE\"\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 800,
        "wires": [
            [
                "d8b87bd2.be3618"
            ]
        ]
    },
    {
        "id": "d98b54a4.e4b8d8",
        "type": "inject",
        "z": "da40c03a.ac762",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "6494e879.4d7a78"
            ]
        ]
    },
    {
        "id": "d8b87bd2.be3618",
        "type": "castv2-sender",
        "z": "da40c03a.ac762",
        "name": "Study",
        "connection": "37ee673b.cef5c8",
        "spotifyAccessToken": "BQDGcsR6vAEvz6w4HB3aa2C-PsZzpgyEd7D67Jdd5SopdVaZL7B0KWCn67TkhOeBjXFNgk1O711z57Ahyq5xbTb0vp3dFtlf8sH-87eWKRmOvJPEupKrcAAR7gTf7cUj14vwE7i6jxh-oIhrX7LLZ2TMCmYCzZp6DjpTTG718STqThLLdrbhfEFflWQi4b-yQb9damkIcjX4xgUwd2CkJLQMKjpxtOJPGLuCA8nw2yqvhDoZRd9zlM6DXdUHmZB1Lnvk_-eDrddrrZXGlEQO4g",
        "spotifyAccessTokenExpiration": "",
        "spotifyDeviceName": "",
        "x": 590,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "cb440f85.abd5c",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Study Desk Motion Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThings-v2Study Desk Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "cbeb9c03.ffdeb"
            ]
        ]
    },
    {
        "id": "7fdebd5f.3cd544",
        "type": "inject",
        "z": "e5b48919.c32ed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "cb440f85.abd5c",
                "1a65275e.7499d9",
                "bb02adb4.65b55",
                "bea155f6.22bdd8",
                "1a875af1.57cc55",
                "db15f1aa.ba748",
                "fa51d09c.85874",
                "b10523a2.a4a1f",
                "cb500180.f07ff",
                "25620aee.b946a6",
                "4013190c.92fab8",
                "bcdff66e.d54b18",
                "bef92d31.94b91",
                "26659b5e.50a324",
                "21e21942.b52f56",
                "d297d0a3.c9736"
            ]
        ]
    },
    {
        "id": "1a65275e.7499d9",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThings-v2Front Door Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "2c610e22.12c9c2"
            ]
        ]
    },
    {
        "id": "bb02adb4.65b55",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Landing Motion Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThings-v2Landing Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "5c11d56d.0c01dc"
            ]
        ]
    },
    {
        "id": "2334ed96.2588a2",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Study Stand Lamp",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 20,
        "wires": []
    },
    {
        "id": "d11560a9.df469",
        "type": "inject",
        "z": "e5b48919.c32ed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"On\":true,\"Brightness\":20,\"Hue\":100,\"Saturation\":100,\"ColorTemperature\":100}",
        "payloadType": "json",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "2334ed96.2588a2"
            ]
        ]
    },
    {
        "id": "5c11d56d.0c01dc",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "56e6bb2d.99ee04",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Landing",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "bea155f6.22bdd8",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Motion Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThings-v2Garage Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "40771750.bb7618"
            ]
        ]
    },
    {
        "id": "1a875af1.57cc55",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Motion Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings-v2",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThings-v2Garage Outdoor Motion Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "92ea7fee.19995"
            ]
        ]
    },
    {
        "id": "db15f1aa.ba748",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Door Sensor",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "SmartThings",
        "Service": "Temperature Sensor",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ASmartThingsGarage Door Sensor0000008A",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "7c2a5595.9aaa4c"
            ]
        ]
    },
    {
        "id": "2c610e22.12c9c2",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Front Door",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbeb9c03.ffdeb",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "56e6bb2d.99ee04",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Study Desk",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "40771750.bb7618",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Inside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "92ea7fee.19995",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Outside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c2a5595.9aaa4c",
        "type": "ui_gauge",
        "z": "e5b48919.c32ed8",
        "name": "",
        "group": "2a2a8a9.b7d3476",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Garage Door Inside",
        "label": "C",
        "format": "{{payload.CurrentTemperature}}",
        "min": "-5",
        "max": "35",
        "colors": [
            "#0027b3",
            "#00bd06",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa51d09c.85874",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Heating",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "CentraLite",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ACentraLiteHeating00000043",
        "conf": "914c287.6aa0ed8",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7268ea68.db2cb4",
                "5950dbdd.e987f4"
            ]
        ]
    },
    {
        "id": "b10523a2.a4a1f",
        "type": "smartthings-node-temperature",
        "z": "e5b48919.c32ed8",
        "conf": "6cc71b69.c5d98c",
        "name": "Study Door Motion Sensor",
        "device": "95115ac7-950f-4c8b-ac29-c15ddedc6d7a",
        "x": 200,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb500180.f07ff",
        "type": "moment",
        "z": "e5b48919.c32ed8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LTS",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "dd20c198.4b878",
                "87f12050.3f4b8"
            ]
        ]
    },
    {
        "id": "25620aee.b946a6",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Light Switch",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "LUMI",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ALUMIFront Door Light Switch00000043",
        "conf": "914c287.6aa0ed8",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "1012f430.39b40c",
                "376672dc.36446e"
            ]
        ]
    },
    {
        "id": "4013190c.92fab8",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Light",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullGarage Outdoor Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "86c6bc9d.17f0e",
                "752a75ba.cdd88c"
            ]
        ]
    },
    {
        "id": "bcdff66e.d54b18",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Rear Outside Light",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullRear Outside Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "f09179d8.5bc868",
                "e267ed04.f2bc8"
            ]
        ]
    },
    {
        "id": "bef92d31.94b91",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 1",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullPatio Light 100000043",
        "conf": "914c287.6aa0ed8",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "3028308f.9b15e",
                "881df904.73a4f8"
            ]
        ]
    },
    {
        "id": "26659b5e.50a324",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 2",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullPatio Light 200000043",
        "conf": "914c287.6aa0ed8",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "bdc52a02.d47ec8",
                "aa93aafe.6dfdd8"
            ]
        ]
    },
    {
        "id": "21e21942.b52f56",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights Garage",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrXmas Lights Garage00000043",
        "conf": "914c287.6aa0ed8",
        "x": 400,
        "y": 1040,
        "wires": [
            [
                "5ccce5ca.e53e0c",
                "e2fb7a6f.60b508"
            ]
        ]
    },
    {
        "id": "1d0e83f3.95e92c",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Xmas Lights Garage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d297d0a3.c9736",
        "type": "hb-status",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights House",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "IKEA of Sweden",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AIKEA of SwedenXmas Lights House00000043",
        "conf": "914c287.6aa0ed8",
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "68388d15.892d24",
                "e4cf39a4.7201e8"
            ]
        ]
    },
    {
        "id": "dd20c198.4b878",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "87f12050.3f4b8",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "1259ad59.a56003",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "e369841f.0ae798",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights Garage",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrXmas Lights Garage00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1140,
        "y": 1080,
        "wires": []
    },
    {
        "id": "317ef8f1.a72098",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "e369841f.0ae798"
            ]
        ]
    },
    {
        "id": "de9d5ad2.48eba8",
        "type": "ui_switch",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7c3f771a.742bb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "79041a44.a16f44"
            ]
        ]
    },
    {
        "id": "85945484.a10258",
        "type": "hb-control",
        "z": "d4bd59e4.4cd548",
        "name": "Study Stand Lamp",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1330,
        "y": 140,
        "wires": []
    },
    {
        "id": "79041a44.a16f44",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "85945484.a10258"
            ]
        ]
    },
    {
        "id": "c977a635.1deb38",
        "type": "hb-status",
        "z": "d4bd59e4.4cd548",
        "name": "Study Stand Lamp",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "innr",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AinnrStudy Stand Lamp00000043",
        "conf": "914c287.6aa0ed8",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "9e9e6ae9.9ba038",
                "e9a57610.180f58"
            ]
        ]
    },
    {
        "id": "2374a680.e3367a",
        "type": "ui_text",
        "z": "d4bd59e4.4cd548",
        "group": "7c3f771a.742bb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Study Stand Lamp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e9e6ae9.9ba038",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "de9d5ad2.48eba8"
            ]
        ]
    },
    {
        "id": "c42d7a7.ab7f488",
        "type": "inject",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "c977a635.1deb38",
                "a1c4571.23f22a8"
            ]
        ]
    },
    {
        "id": "e9a57610.180f58",
        "type": "function",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 40,
        "wires": [
            [
                "2374a680.e3367a"
            ]
        ]
    },
    {
        "id": "a1c4571.23f22a8",
        "type": "moment",
        "z": "d4bd59e4.4cd548",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LTS",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "48490e88.aaba1"
            ]
        ]
    },
    {
        "id": "48490e88.aaba1",
        "type": "ui_text",
        "z": "d4bd59e4.4cd548",
        "group": "7c3f771a.742bb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Update",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "265df6b1.94b15a",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 1180,
        "wires": [
            [
                "306b3d37.009f22"
            ]
        ]
    },
    {
        "id": "8d2e1b28.c9d4a8",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Xmas Lights House",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "IKEA of Sweden",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AIKEA of SwedenXmas Lights House00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1130,
        "y": 1180,
        "wires": []
    },
    {
        "id": "306b3d37.009f22",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 1180,
        "wires": [
            [
                "8d2e1b28.c9d4a8"
            ]
        ]
    },
    {
        "id": "68f7778.8d90088",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Xmas Lights House",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e4cf39a4.7201e8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "265df6b1.94b15a"
            ]
        ]
    },
    {
        "id": "68388d15.892d24",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "68f7778.8d90088"
            ]
        ]
    },
    {
        "id": "e2fb7a6f.60b508",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1080,
        "wires": [
            [
                "84c1dd4a.6f74"
            ]
        ]
    },
    {
        "id": "5ccce5ca.e53e0c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1040,
        "wires": [
            [
                "1d0e83f3.95e92c"
            ]
        ]
    },
    {
        "id": "84c1dd4a.6f74",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "317ef8f1.a72098"
            ]
        ]
    },
    {
        "id": "60fe3b00.da65c4",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio Light 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "c380779c.363688",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 2",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullPatio Light 200000043",
        "conf": "914c287.6aa0ed8",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "161fff6b.ada4f1",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 980,
        "wires": [
            [
                "c380779c.363688"
            ]
        ]
    },
    {
        "id": "aa93aafe.6dfdd8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 980,
        "wires": [
            [
                "833a1929.55ea88"
            ]
        ]
    },
    {
        "id": "bdc52a02.d47ec8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 940,
        "wires": [
            [
                "60fe3b00.da65c4"
            ]
        ]
    },
    {
        "id": "833a1929.55ea88",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 980,
        "wires": [
            [
                "161fff6b.ada4f1"
            ]
        ]
    },
    {
        "id": "c30cc056.ce41e",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Garage Outdoor Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 840,
        "wires": []
    },
    {
        "id": "cae0b6dc.f00d48",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Garage Outdoor Light",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullGarage Outdoor Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1140,
        "y": 880,
        "wires": []
    },
    {
        "id": "bda3f6af.ca6bf8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 880,
        "wires": [
            [
                "cae0b6dc.f00d48"
            ]
        ]
    },
    {
        "id": "752a75ba.cdd88c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 880,
        "wires": [
            [
                "4f1ac17a.9dc85"
            ]
        ]
    },
    {
        "id": "86c6bc9d.17f0e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 840,
        "wires": [
            [
                "c30cc056.ce41e"
            ]
        ]
    },
    {
        "id": "4f1ac17a.9dc85",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 880,
        "wires": [
            [
                "bda3f6af.ca6bf8"
            ]
        ]
    },
    {
        "id": "92ba97d.22e4668",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Front Door Light Switch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "6a00ec69.47c1b4",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Front Door Light Switch",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "LUMI",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ALUMIFront Door Light Switch00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1150,
        "y": 780,
        "wires": []
    },
    {
        "id": "30d066a8.c5540a",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 780,
        "wires": [
            [
                "6a00ec69.47c1b4"
            ]
        ]
    },
    {
        "id": "376672dc.36446e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 780,
        "wires": [
            [
                "f75d6fa0.5c986"
            ]
        ]
    },
    {
        "id": "1012f430.39b40c",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "92ba97d.22e4668"
            ]
        ]
    },
    {
        "id": "f75d6fa0.5c986",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 780,
        "wires": [
            [
                "30d066a8.c5540a"
            ]
        ]
    },
    {
        "id": "951dfd70.b095d",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rear Outside Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "150580c9.576a5f",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Rear Outside Light",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullRear Outside Light00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1130,
        "y": 680,
        "wires": []
    },
    {
        "id": "7508cfea.acdbe",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 680,
        "wires": [
            [
                "150580c9.576a5f"
            ]
        ]
    },
    {
        "id": "e267ed04.f2bc8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 680,
        "wires": [
            [
                "a40db6c0.e7b848"
            ]
        ]
    },
    {
        "id": "f09179d8.5bc868",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "951dfd70.b095d"
            ]
        ]
    },
    {
        "id": "a40db6c0.e7b848",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 680,
        "wires": [
            [
                "7508cfea.acdbe"
            ]
        ]
    },
    {
        "id": "880003b9.b1cd8",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Patio Light 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "f6b071b5.84f56",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Patio Light 1",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "null",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3AnullPatio Light 100000043",
        "conf": "914c287.6aa0ed8",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "ff506d03.c0f06",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 580,
        "wires": [
            [
                "f6b071b5.84f56"
            ]
        ]
    },
    {
        "id": "881df904.73a4f8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "3b7a8b07.62c2a4"
            ]
        ]
    },
    {
        "id": "3028308f.9b15e",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "880003b9.b1cd8"
            ]
        ]
    },
    {
        "id": "3b7a8b07.62c2a4",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "ff506d03.c0f06"
            ]
        ]
    },
    {
        "id": "9de0e52d.c6d518",
        "type": "ui_text",
        "z": "e5b48919.c32ed8",
        "group": "c38368e5.c62b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heating",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8ef341d.412378",
        "type": "hb-control",
        "z": "e5b48919.c32ed8",
        "name": "Heating",
        "Homebridge": "Pear Tree Cottage",
        "Manufacturer": "CentraLite",
        "Service": "Lightbulb",
        "device": "Pear Tree Cottage0E:3E:4E:48:18:3ACentraLiteHeating00000043",
        "conf": "914c287.6aa0ed8",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f1ed855.0308b8",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload === true) {\n    msg.payload = {\"On\":true}\n} else {\n    msg.payload = {\"On\":false}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "a8ef341d.412378"
            ]
        ]
    },
    {
        "id": "5950dbdd.e987f4",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = true\n} else {\n    msg.payload = false\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "7aed12a4.2f800c"
            ]
        ]
    },
    {
        "id": "7268ea68.db2cb4",
        "type": "function",
        "z": "e5b48919.c32ed8",
        "name": "",
        "func": "if (msg.payload.On === true) {\n    msg.payload = 'On'\n} else {\n    msg.payload = 'Off'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 440,
        "wires": [
            [
                "9de0e52d.c6d518"
            ]
        ]
    },
    {
        "id": "7aed12a4.2f800c",
        "type": "ui_switch",
        "z": "e5b48919.c32ed8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c168e098.38862",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "1f1ed855.0308b8"
            ]
        ]
    }
]